body{

 background: rgb(255, 255, 255);
     
}

h1{
    color:brown;
    text-align: center;

    background: aqua;
}

footer{
    background:rgb(113, 82, 143);
    text-align: center;
    color:rgb(245, 245, 245);
    padding: 4%;

}